{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}
<body class="single">
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<div id="fh5co-aside" style="background-image: url({{ post.poster.url }})" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<nav role="navigation">
				<ul>
					<li><a href="{% url 'blog:post_list' %}"><i class="icon-home"></i></a></li>
				</ul>
			</nav>
			<div class="page-title">
				<img src="{{ post.author.profile.photo.url }}" alt="{{ post.author }}">
				<span>{{ post.publish }} by {{ post.author }}</span>
				<h2>{{ post.title }}</h2>
			</div>
		</div>
		<div id="fh5co-main-content">
			<div class="fh5co-post"> 
				<div class="fh5co-entry padding">
					<div>
						{{ post.body|linebreaks }}
					</div>

					<p>
					<a href="{% url 'blog:post_share' post.id %}">
						Share this post
					  </a>
				</p>
				{% with comments.count as total_comments %}
				<h2>
					{{ total_comments }} comment{{ total_comments|pluralize }}
					</h2> {% endwith %} {% for comment in comments %}
				<div class="comment">
					<p class="info">
						Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
					</p>
					{{ comment.body|linebreaks }}
				</div>
				{% empty %}
				<p>There are no comments yet.</p>
				{% endfor %} {% if new_comment %}
				<h2>Your comment has been added.</h2> {% else %}
				<h2>Add a new comment</h2>
				<form action="." method="post">
					{{ comment_form.as_p }} {% csrf_token %}
					<p>
						<input type="submit" value="Add comment">
					</p>
				</form>
				{% endif %}

				</div>
			</div>
		</div>
	</div>

	<div class="fh5co-navigation">
		<div class="fh5co-cover prev fh5co-cover-sm" style="background-image: url({% static 'images/project-4.jpg' %})">
			<div class="overlay"></div>

			<a class="copy" href="#">
				<div class="display-t">
					<div class="display-tc">
						<div>
							<span>Previous Post</span>
							<h2>How to be an affective web developer</h2>
						</div>
					</div>
				</div>
			</a>

		</div>
		<div class="fh5co-cover next fh5co-cover-sm" style="background-image: url({% static 'images/project-5.jpg' %})">
			<div class="overlay"></div>
			<a class="copy" href="#">
				<div class="display-t">
					<div class="display-tc">
						<div>
							<span>Next Post</span>
							<h2>How to be an affective web developer</h2>
						</div>
					</div>
				</div>
			</a>

		</div>
	</div>

	<footer>
		<div>
					&copy; 2017 changduchen. All Rights Reserved. Designed by <a href="" target="_blank">Chand</a>
					</div>
				</footer>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
</body>
{% endblock %}